<h1 id="comment-header">评论</h1>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'teckoo';
    var disqus_identifier = '{{page.url}}';
    var disqus_url = '{{page.url}}';

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=teckoo">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<h3>提示</h3>
<ul>
    <li>如果看不到评论部分, 请暂时关掉adblock in Firefox/Chrome</li>
    <li>本网站使用Javascript实现评论功能, 此处外链对提高您的网站PR没有帮助. (潜台词: 请不要灌水)</li>
</ul>


