    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="verify-v1" content="iuB9iLrDoi0udZ7i5l4grXw0M0S2CPrMK+ZjOi5DUB4=" />
    <meta http-equiv="Refresh" content="86400">
    <!-- viewport meta to reset iPhone inital scale -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <title> {{ page.title }} </title>
    <!--[if IE]><style>
        div { zoom: 1; /* trigger hasLayout */ }
    </style><![endif]-->
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/css/main.css" /> 
    <link href="https://feeds.feedburner.com/c2teckoo"
         rel="alternate" title="{{ site.name }}" type="application/atom+xml" />

