    <div id="tabhead">
        <div id="tabs">
        <ul>
        <li><a class="title" href="/blog/story.html">程序员故事会</a>/ </li>
        <li><a class="title" href="/blog/website.html">简单建站</a>/ </li>
        <li><a class="title" href="/blog/django.html">Django边用边学</a>/ </li>
        <li><a class="title" href="/blog/programmer.html">写给程序员</a>/ </li>
        </ul>
        </div>
        <div id="logo">
        <h1 class="logo-title"><a class="logo" href="/">
        ~/一个程序员的简单人生$ ls -d */</a>
        </h1></div>
    </div>
