<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
  {% include header.html %}
</head>
<body id="homepage" class="default">
<div id="container">
    {% include top-nav.html %}
     
    <div id="columnwrap" class="container-fluid">
      <div class="row">
        <div id="content-main" class="col-md-8 col-xs-12">
          {{ content }} 
        </div>
        {% include sidebar.html %}
      </div>
      {% include footer.html %}
    </div>
</div>

  {% include google_analytics.html %}

</body>
</html>

