<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
    {% include header.html %}
</head>
<body id="homepage" class="default">
<div id="container" class="set-center">
    <div id="homewrap" class="container-fluid">
        <div class="row">
            <div id="tabhead">
                <div id="logo"><h1 class="logo-title"><a href="/">c2@teckoo.com:~/一个程序员的简单人生$ ls -d */</a></h1></div>
            </div>
        </div>

        <div class="row">
            <div id="website" class="col-sm-6 col-xs-12" onclick="top.location.href
          = '/category/website.html'">
                <div class="sec-title"><a class="title"
                                          href="/category/website.html">简单建站</a></div>
                <p>建网站的基本步骤。如何用尽量少的资源来实现网站所需的功能。
                <div class="hidden-xs">
                    代码写得越少，出错的可能性就越小。<br/>
                    Keyword: Keep it simple
                </div>
                </p>
            </div>
            <div id="django-home" class="col-sm-6 col-xs-12"
                 onclick="top.location.href = '/category/django.html'">
                <div
                        class="sec-title"><a class="title" href="/category/django.html">Django边用边学</a></div>
                <p>俺平时上班靠Java挣钱吃饭。业余用Django编程自娱自乐。
                <div class="hidden-xs">                
                  Django的中文学习资料太少，咱来义务宣传推广一把。<br/>
                  Learn more to do less
                </div>
                </p>
            </div>
        </div>
        <div class="row">
            <div id="story" class="col-sm-6 col-xs-12" onclick="top.location.href =
          '/category/story.html'">
                <div class="sec-title"><a class="title"
                                          href="/category/story.html">程序员故事会</a></div>
                <p>讲讲发生在程序员中的笑话和小故事，轻松话题，娱乐八卦一下(不含负面新闻)。</p></div>
            <div id="programmer" class="col-sm-6 col-xs-12"
                 onclick="top.location.href = '/category/programmer.html'">
                <div
                        class="sec-title"><a class="title" href="/category/programmer.html"> 写给程序员</a></div>
                <p>凡不属于第1、2、3象限的话题，就码这儿得了。来点儿杂谈，也有自己的小抄。</p>
            </div>
        </div>
        <div id="footer" class="legal">
            <div class="row"><h1> 最近更新</h1></div>
            <div>
                {{ content }}
            </div>
            <div id="kb" class="row">
                知识库:
                <a href="/category/linux.html">Linux </a> |
                <a href="/category/development.html">Development</a> |
                <a href="/category/front_end.html">Web front-end </a>|
                <a href="/category/backend.html">Back-end </a> |
                <a href="/category/graphics.html">Graphics </a>
            </div>
            <div id="search" class="row">

                <style type="text/css">
                    @import url(http://www.google.com/cse/api/branding.css);
                </style>
                <div class="cse-branding-right">
                    <div class="cse-branding-form">
                        <form action="http://teckoo.com/query.html" id="cse-search-box">
                            <div>
                                <input type="hidden" name="cx" value="partner-pub-9681815890591039:9455036608"/>
                                <input type="hidden" name="cof" value="FORID:10"/>
                                <input type="hidden" name="ie" value="UTF-8"/>
                                <input type="text" name="q" size="28"/>
                                <input type="submit" name="sa" value="&#x641c;&#x7d22;"/>
                            </div>
                        </form>
                        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                        <script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
                        <script type="text/javascript"
                                src="http://www.google.com/cse/t13n?form=cse-search-box&t13n_langs=en"></script>
                    </div>
                    <div class="cse-branding-logo">
                        <img src="http://www.google.com/images/poweredby_transparent/poweredby_000000.gif"
                             alt="Google"/>
                    </div>
                    <div class="cse-branding-text">
                        自定义搜索
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
</div>

{% include google_analytics.html %}

</body>
</html>

